<md-dialog>
    <form ng-cloak>
        <md-dialog-content>
            <div class="md-dialog-content">
                <h2>Confirmação de Cadastro</h2>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button class="md-warn md-button md-ink-ripple" ng-click=" hide()">
                <md-icon name="name">close</md-icon> Cancelar
            </md-button>
            <md-button class="md-primary md-button md-ink-ripple" ng-click="concluir(ctrl.toastSuc);">
                <md-icon name="name">done</md-icon> Aceitar
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>