<div ng-controller="cadastroController as usuario">
  <md-steppers></md-steppers>
  <form class="css-form" name="formUsuario" role="form" novalidate>
    <md-card>
      <md-card-content layout="row">
        <md-input-container flex>
          <label>Nome</label>
          <input required="" name="nome" ng-model="usuario.model.nome" minlength="{{usuario.nomeMinTam}}">
          <div ng-messages="formUsuario.nome.$error">
            <div ng-message="required">O nome é um campo obrigatório</div>
          </div>
        </md-input-container>

        <md-input-container flex>
          <label>Idade</label>
          <input required="true" name="idade" ng-model="usuario.model.idade">
          <div ng-messages="formUsuario.nome.$error">
            <div ng-message="required">A idade é um campo obrigatório</div>
          </div>
        </md-input-container>
      </md-card-content>
      <md-card-content layout="row">
        <md-input-container flex="50">
          <label>CPF</label>
          <input required="true" name="CPF" ng-model="usuario.model.CPF" mask="999.999.999-99">
          <div ng-messages="formUsuario.nome.$error">
            <div ng-message="required">O CPF é um campo obrigatório</div>
          </div>
        </md-input-container>
        <md-input-container flex>
          <label>Numero</label>
          <input name="numero" ng-model="ctrl.numero" mask="(99) 9999-9999">
          <div ng-messages="formErrors.numero.$error">
            <div ng-message="mask">Por favor insira somente números.</div>
          </div>
        </md-input-container>
      </md-card-content>
    </md-card>
    <div>
      <md-button class="md-raised md-primary" ng-disabled="formUsuario.$valid===false" ng-click="formUsuario.$valid && usuario.cadastrar()">
        <md-icon class="name">&#xE5C8;</md-icon> avançar
      </md-button>
    </div>
  </form>
</div>