###############################
# Classes e empacotamentos
###############################
**/*.class
**/*.jar
**/*.war
**/*.ear
**/*.zip


###############################
# Arquivos de IDEs
###############################
**/.project
**/.settings/**
**/.classpath
**/.tern-project
**/.pydevproject
**/*.~sql
**/*.vscode/**


###############################
# Arquivos de SO
###############################
**/*.DS_Store


###############################
# Diretorios
###############################
**/target/**
**/bin/**
**/.sonar/**
**/build/**
**/node_modules/**


###############################
# Logs
###############################
**/*.log