###############################
# Classes e empacotamentos
###############################
**/*.class
**/*.jar
**/*.war
**/*.ear
**/*.zip


###############################
# Arquivos de IDEs
###############################
**/.project
**/.settings/**
**/.classpath
**/.tern-project
**/.pydevproject
**/*.~sql
**/*.vscode/**
**/*.iml


###############################
# Arquivos do Terraform
###############################
**/*.tfstate
**/*.tfstate.backup
**/public_ips.txt


###############################
# Arquivos de SO
###############################
**/*.DS_Store


###############################
# Diretorios
###############################
**/target/**
**/bin/**
**/.sonar/**
**/build/**
**/node_modules/**
**/.terraform/**
.idea/**


###############################
# Logs
###############################
**/*.log
