
<!--  -->
<!-- Rodapé -->
<!--  -->
<footer id="footer" class="footer text-center">
	<div id="rodape">Copyright @ ${.now?string['yyyy']} SEFA. Todos os direitos reservados. <br /> Avenida Visconde de Souza Franco, 110 - CEP 66.053-000 Atendimento: 0800-725-5533</div>
</footer>

<div class="ajax-loading">
	<div class="body">
		<div class="spinner">
			<div class="right-side">
				<div class="bar"></div>
			</div>
			<div class="left-side">
				<div class="bar"></div>
			</div>
		</div>
		<h4>Carregando...</h4>
	</div>
</div>
